body {
    text-align: center;
    font-family:  sans-serif;
    background-color: aqua;
    background: linear-gradient(to right, rgb(24, 233, 233), rgb(14, 122, 165));
}

.Head {
    height: 300px;
    width: 300px;
    background-color: rgb(16, 151, 168);
    margin-left:600px;
    margin-top: 200px;

}